# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
venv/
ENV/
env/
.venv/
.ENV/
.python-version

# Logs
*.log

# CSV / output files (optional)
products.csv
free_products.csv

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini
